<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 XBOX360 GAMES</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/about.css" rel="stylesheet" />
</head>
<body>
    <%- include('navBar', {currentPage: currentPage}) %>
    <i><h1 id="title"><%= title %></h1></i>
    <div class="about glass">
        I created this website for the Odin Project inventory management app project.
         I wanted to make something beautiful and elegant but also bold; all my websites
          in the past had lacked those qualities. While looking for inspiration I stumbled
           across <a href="https://unsplash.com/photos/an-ethereal-pavilion-surrounded-by-water-under-a-cloudy-sky-_7lr3Fs9QHU" target="_blank">this image</a> 
           and the theme just came to me from there. My decision to focus
            more on looks, the image, and me using AI for the first time to code all came
             together to make what is by far my best looking and feeling website in my 
             <a href="https://github.com/kon65138" target="_blank">github</a>.
              Hope you like it :)

    </div>
</body>
</html>