#title {
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80vw;
  font-size: 4rem;
  margin-bottom: 0;
  padding-left: 1rem;
  color: rgb(2, 24, 66);
}

.dashboard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 80vw;
  height: fit-content;
  padding: 1rem;
  gap: 1rem;
}

.statsContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.tables {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.chartWrapper {
  position: relative;
  flex: 0 0 1;
  height: fit-content;
  border-radius: 20px;
  padding: 1rem;
}

#lowStockTable {
  flex: 1;
  border: none;
  border-spacing: 0;
  border-radius: 20px;
}

th {
  color: rgba(0, 0, 0, 0.466);
}

td {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 61, 85);
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.4rem;
}

/*
Source - https://stackoverflow.com/a/635863
Posted by vamin, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-09, License - CC BY-SA 4.0
*/
table tr:first-child th:first-child {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: 20px;
}

table tr:first-child th:last-child {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-right-radius: 20px;
}

table tr:last-child td:first-child {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-right-radius: 20px;
}

.totalStock,
.outOfStock,
.lowStock,
.uniqueGames {
  display: flex;
  justify-content: center;
  align-items: left;
  border-radius: 20px;
  flex: 1;
  height: fit-content;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.statName {
  color: rgba(0, 0, 0, 0.466);
  font-weight: bold;
}

.number {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 61, 85);
}
